body {
  margin: 0;
}

.app {
  min-height: 100vh;
}

#improve-btn:hover{
  box-shadow: 0px 0px 20px #e91e63;
  font-size: 105%;
  transition: 0.15s ease all;
}

#main-logo:hover{
  box-shadow: 0px 0px 20px #e91e63;
  transition: 0.15s ease all;
}

